
@{
    ViewBag.Title = "ItemView";
}

<div>
    <div class="container">
        <h2>Items!</h2>
        <div id="kader1" class="kader col-md-3">
            <h2>@Html.ActionLink("Boeken", "BoekView", "Boek")</h2>
        </div>

        <div class="col-md-1"></div>
        <div id="kader1" class="kader col-md-3">
            <h2>@Html.ActionLink("CD's","CdView", "CD")</h2>
        </div>

        <div class="col-md-1"></div>
        <div id="kader1" class="kader col-md-3">
            <h2>@Html.ActionLink("DVD's","DvdView", "DVD")</h2>
        </div>

        <div class="col-md-1"></div>
        <div id="kader1" class="kader col-md-3">
            <h2>@Html.ActionLink("Spellen", "SpelView", "Spel")</h2>
        </div>
        
        <div class="col-md-1"></div>
        <div id="kader1" class="kader col-md-3">
            <h2>@Html.ActionLink("Verteltassen", "VerteltasView", "Verteltas")</h2>
        </div>


