@using DeLettertuin.Domain
@model IEnumerable<DeLettertuin.ViewModels.LeerlingIndexViewModel>

@{
    ViewBag.Title = "LeerlingenView";
    }


<h2>Leerlingen</h2>
<hr />
        <table class="table">
            <tr class="headtr">
                <th>
                    <a href='@Url.Action("Create New", "Create")'>
                        <img id="toevoegen" src='@Url.Content("~/Images/toevoegen.png")' />
                    </a>
                </th>

                @foreach (var p in typeof(Leerling).GetProperties())
                {
                    if (!p.Name.Equals("Leerlingen") && !p.Name.Equals("Adres") && !p.Name.Equals("Email"))
                    {
                        <th>
                            @p.Name
                        </th>
                    }
                }

            </tr>
          @foreach (var l in Model)
{
    <tr>
        <td>
            @Html.ActionLink(" ", "EditLeerling", new { id = l.Id }, new { @class = "modal-link btn btn-success btnEdit " })


            @Html.ActionLink(" ", "RemoveLeerling", new { id = l.Id }, new { @class = "modal-link btn btn-success btnRmv" })

        </td>
        @foreach (var p in l.GetType().GetProperties())
        {
            if (!p.Name.Equals("Uitleningen") && !p.Name.Equals("Straat") && !p.Name.Equals("HuisNr") && !p.Name.Equals("Postcode") && !p.Name.Equals("Gemeente") && !p.Name.Equals("Email"))
            {
                <td class="">@l.GetType().GetProperty(p.Name).GetValue(l)</td>
            }

        }

    </tr>
}

        </table>